body {
  background-color: #fbdd97;
}
h1 {
  font-size: 40px;
  margin: 40px;
  text-align: center;
}
.croissant-photo {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.description {
  display: block;
  margin: 10px auto;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  width: 400px;
}
.contact-us {
  font-size: 20px;
  text-align: center;
}
footer {
  display: flex;
  justify-content: center;
  margin: 20px;
}
footer a {
  margin: 30px;
  color: #377241;
}
